@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>CICD Testing</h1>

<p>Use this area to provide additional information.</p>

<h2>Overview</h2>

<p>GitHub is a web based Git version control repository hosting service which offers distributed version control and source code management functionality of Git.</p>

<p>Visual Studio Team Services provides a first-class support for Git with several advantages including</p>

<p>Unlimited free private repositories
Powerful code reviews
Advanced branch policies
Integrated CI/CD pipeline
Semantic code search</p>

<p>The primary difference between the two is that VSTS is focused on closed source projects and GitHub is focused more on open source projects. GitHub offers both private and public repositories. However, it doesn’t have an integrated build server.</p>

<p>Teams can overcome this shortfall by using Visual Studio Team Services (VSTS) as a continuous integration platform for GitHub.</p>
    

